[build]
  command = "npm run build:client"
  functions = "netlify/functions"
  publish = "dist/spa"
  ignore = "git diff --quiet $COMMIT_PARENT $COMMIT"

[functions]
  external_node_modules = ["express"]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
